#back1, #back2, #back3{
    background-image: url("images/bg7.JPG");
    background-size: 2400px;
    background-repeat: no-repeat;
}

header {
    margin: 0;
    text-align: center;
    justify-content: center;
}
header h1 {
    font-family: 'Mohave', sans-serif;
    font-size: 40px;
    background-color: black;
    color: rgb(183, 65, 14);
    border-radius: 5px;
    width: 400px;
    text-align: center;
    margin: auto;
}


header p {
    margin: 2px auto;
    font-size: 20px;
    background-color: white;
    color: teal;
    font-weight:bold;
    width: 400px;
    padding: 2px;
    border: teal solid 3px;
    border-radius: 5px;
}


#contactInfo {
    align-self: center;
    width: auto;
    background-color: white;
    margin: 40px;
    border: black solid 2px;
    border-radius: 5px;
    color: black;
}

#contactInfo h3, #contactInfo h4 {
    margin-left: 20px;
}

#slide {
}

footer {
    position: relative;
    font-weight: bolder;
    color: black;
    line-height: .1;
}

footer h6 {
    margin: 20px, 20px;
}

.card {
    align-self: center;
    justify-self: center;
    height: 30rem;
    width: 15rem;
}