
html {
    /*background-image: url("/images/bg.jpg");*/
}


header {
    margin: 0;
    text-align: center;
    justify-content: center;
}
header h1 {
    font-family: 'Mohave', sans-serif;
    font-size: 40px;
    background-color: black;
    color: rgb(183, 65, 14);
    border-radius: 5px;
    width: 400px;
    text-align: center;
    margin: auto;
}


header p {
    margin: 2px auto;
    font-size: 20px;
    background-color: white;
    color: teal;
    font-weight:bold;
    width: 600px;
    padding: 2px;
    border: teal solid 3px;
    border-radius: 5px;
}


#clipart {
    height:30px;
    border: teal solid 3px;
    border-radius: 5px;
    vertical-align: bottom;
    margin-right: 10px;
}

#contactInfo {
    align-self: center;
    width: auto;
    background-color: white;
    margin: 40px;
    border: black solid 2px;
    border-radius: 5px;
    color: black;
}

#contactInfo h3, #contactInfo h4 {
    margin-left: 20px;
}
#photos {
    display: grid;
    grid-template-areas:    "lefta righta"
                            "leftb rightb"
                            "leftc rightc"
                            "leftd rightd"
                            "lefte righte"
                            "leftf rightf"
                            "leftg rightg"
                            "lefth righth"
                            "lefti righti"
                            "leftj rightj";
    position: relative;
    margin: auto;
    grid-template-columns: 450px 450px;
    gap: 20px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-auto-flow: row;
}

#photos img{ 
    width: 450px;
    height: auto;
    border: black 1px solid;
}

footer {
    position: absolute;
    bottom: 0;
    line-height: .1;
    
}